.tablet-mobile {
  width: 300px;
  height: 100px;
  background: #cab9e5;
  margin: 0 auto;
}

.tablet-mobile p {
  padding-top: 2%;
}

img {
  width: 75%;
  height: auto;
  border-radius: 1%;
  padding-left: 10px;
}
